#content
{
    clear: left;
    float: left;
    width: 65%;
    padding: 0 1% 0 0%;
    display: inline;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(232, 232, 232);
}


#aside
{
    float: right;
    width: 32%;
    display: inline;
    overflow: hidden;
}

img {
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 3px;
}

.sidebar_thumbnail
{
    width: 70px;
}
