      <!-- Image Gallery -->
      <div class="photo-gallery">
        {% for image in article.galleryimages %}
	{% if imagemax %}{% if loop.index > imagemax %}
	<br/>
	View article for more images.{% break %}{% endif %}{% endif %}
          <div class="gallery-photo">
	<a class="{{ article.album }} cboxElement" data-full-res="{{ SITEURL }}/images/gallery/{{ article.album }}/{{ image }}" href="{{ SITEURL }}/images/gallery-web/{{ article.album }}/{{ image }}">
	<img src="{{ SITEURL }}/images/gallery-thumb/{{ article.album }}/{{ image }}">
	</a>
	</div>
        {% endfor %}
	 <script>
            $('a.cboxElement').colorbox({rel:'cboxElement', transition:"none", width:"85%", height:"85%", title:function () {
    return "To view full size, " + "click here!".link($(this).attr('data-full-res'))
}});
        </script>
      </div>

